<h1>admin</h1>

<div class="col-md-8">
  <%= render 'users/admin/overview' %>
  <%= render 'users/admin/generate_teams' %>


</div>

<div class="col-md-4">
  <%= render 'users/admin/users_sidebar' %>
</div>
