<div class="row">
  <div class="col-xs-6 today-column">
    <h3>Today's match</h3>


    <% @user.today_match.users.each do |user| %>
       <% if @user != user %>
         <%= user.email %>
       <% end %>
    <% end %>

  </div>

  <div class="col-xs-6">
    <h3>Past matches</h3>

    <% @user.past_matches.each do |match| %>

       <div class="date student-date"><%= match.date %></div>

       <div class="user-group">
         <% match.users.each do |user| %>

             <% if @user != user %>

                 <%= user.email %>

             <% end %>

         <% end %>
     </div>
    <% end %>

  </div>
</div>
