// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.date, .student-date{
  background-color: #ff9800;
  color : white;
  padding : 3px 7px 3px 7px;
  border-radius: 7px;
  display: inline-block;
  margin-left: -20px;

}
.student-date{
  margin-left  :0px;
}
.role-text{
  color : #ff9800;
}
#team-list{
  ul{
    padding-left : 5px;
  }
}
.tabs-admin{
  border-bottom: 1px solid #f5f5f5;
  margin-left:-30px;
  padding-bottom:25px;
  margin-bottom:30px;
}
.user-group{

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0px 5px 5px;
    background-color: #eaeaea;
    border-radius: 7px;

}
.user-group-li{
  margin-top:20px;

}
#date{
  width: 180px;
  margin-left: -15px;
  margin-bottom: 15px;
  display : inline-block;
}
.toggle-role{
  float:right;
}
.roles-list div{
  margin-top: 10px;
  margin-left: -30px;
}
