<ul>
<% User.all_other_users(current_user.id).each do |user| %>
  <%
    button_text = user.is_admin? ? 'Demote' : 'Promote'
    button_class = user.is_admin? ? 'btn-danger' : 'btn-success'
  %>
  <li><%= user.email %> &nbsp; <button type="button" value="<%= user.id %>" class="btn <%= button_class %>"> <%= button_text %> </button></li>
<% end %>
</ul>
